/* slideshow css */

.slideshow-container {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
}
.slide {
  display: none;
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 100%;
  height: 100%;
}
.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* slide 2 css */
.slideshow-container-2 {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
}
.slide-2 {
  display: none;
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 100%;
  height: 100%;
}
.slide-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* slide 3 css */
.slideshow-container-3 {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
}
.slide-3 {
  display: none;
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 100%;
  height: 100%;
}
.slide-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* brand section */
.images {
  margin-left: 15px;
}
.brands {
  margin-top: 80px;
}
.brands > h2 {
  margin-left: 50px;
  margin-bottom: 50px;
}
